<h1>Review <%= @restaurant.name %></h1>

<% list = ['1', '2', '3', '4', '5'] %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, as: :select, collection: list %>
  <%= f.submit :Submit %>
<% end %>
